body{
    margin:0;
}
.flexiable-container{
    display:flex;
}
.top-banner{
    padding-top:50px;
    background-image:url(images/top-banner.png);
    background-repeat:no-repeat;
}
.half-width{
    padding-left:60px;
}
.half-width img{
    padding-right:50px;
}
.dream-big{
    background-image:url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}
#half-width img{
padding-left:50px;
}
#half-width{
padding-right:60px;
}
.experiance-area{
    
}
span{
    color:rgb(34, 158, 34);
}
p{
    text-align:justify;
    font-size:18px;
}
a{
    color:black;
    background-color:lightgreen;
    border:solid 5px lightgreen;
    text-decoration:none;
}